*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caption{
    text-align: center;

}
.caption button{

    padding: 5px 5px;
    background-color: rgb(82, 110, 161);
}
.caption button:hover{
    background-color: rgb(219, 205, 205);
}
    

